Type - Basic Input , Output , Data Types & variable assignments

In [ ]:
print("Hello World")
print(type("Hi"),type(4),type(False))
b=input("Enter a Number")
print(type(b)) #input will be always string
a= 2+float(b) #we have to convert it for operation
print(a)

c=59
print(c/60) #floating point number
print(c//60) #int type number

Type - if_else,loops & control statements

In [ ]:
#if_else
num=0
print(num)
if(int(num)>0):
  print("positive")
elif int(num)<0:
  print("Negative")
else:
  print("Zero")

In [ ]:
#for loops
for i in [1,2,3]:
	print(i ,end='')
print('\n')
for j in range(1,3):
	print(j,end='')
print('\n')
for k in range(6):
	print(k,end='')
print('\n')

In [ ]:
#while loops & control statements
cnt=0
while cnt<5:
  if(cnt==1):
    pass
  elif(cnt==3):
    cnt+=1
    continue
  else:
    print(cnt)
  cnt+=1

Lists



```
Declaration & access
```

In [ ]:
a=[1,2,3,4]
b=0;
'''
#method 1
for i in range(len(a)):
	b+=a[i];
	print(a[i],end="+")
'''
#method2
for element in a:
	b+=element
	print(element,end="+")
print("= ",b);



```
List Manipulation
```

In [ ]:
a=[1,2,3,4]
b=0;

for i in range(len(a)):
	if a[i]==1:
		a[i]=10 #replace 1 with 10

for element in a:
	b+=element
	print(element,end="+")
print("= ",b)

print("Thank you "+ str(a[0]))#concatenation among strings

10+2+3+4+=  19
Thank you 10

Indexes of List

In [ ]:
#0 based positive index
a = [10, 20, 30, 40, 50]
# Accessing elements by index
print(a[0])  # First element -> 10
print(a[1])  # Second element -> 20
print(a[4])  # Fifth element -> 50
# negative indexed
# index -1 refers to the last element.
print(a[-1])  # Last element -> 50
print(a[-2])  # Second-to-last element -> 40
print(a[-5])  # First element -> 10

List Slicing

In [ ]:
a=[1,2,3,4,5]
print(a[:1]) # elements < index 1
print(a[1:]) # elements>=index1
print(a[:])  #all elements
print(a[2:4]) #2<=elements<4

>2D Indexing

In [ ]:
a=[[1,2,3],['cat','dog','bat','kitty']]
print(a[1][3])
print(a[-1][-1]) # -1 means last one

print(a[0][-1])

>Enumerate keyword

In [ ]:
a=[10,20,30]

for i,value in enumerate(a):
	print(f"{i}: {value}")

universities=['RUET','DUET','KUET','CUET']

for i,university in enumerate(universities):
	print( f"{i}: {university}")

0: 10
1: 20
2: 30
0: RUET
1: DUET
2: KUET
3: CUET